[2017-12-21 13:29] varvarasd opened #5 "Warning: Failed prop type: Slideshow: prop type `transitionDuration` is invalid; it must be a function, usually from the `prop-types` package, but received `undefined`."
Hi,

FYI I'm getting this error
`Warning: Failed prop type: Slideshow: prop type 'transitionDuration' is invalid; it must be a function, usually from the 'prop-types' package, but received 'undefined'.`

I tried deleting the `transitionDuration` and `duration` attr and still get this error

[2017-12-21 14:03] andela-foladeji commented on #5
I'll take a look at it and get back to you

On Dec 21, 2017 14:29, "Daniel Varvara" <notifications@github.com> wrote:

[2018-02-23 10:34] AnoushS opened #6 "Import error: react-slideshow-image module import error"
When I'm trying import this module, gives this error

ERROR in ./node_modules/react-slideshow-image/lib/components/slideshow/fade.css
Module parse failed: Unexpected token (1:0)
You may need an appropriate loader to handle this file type.
| .fade-wrapper {
|   width: 100%;
|   overflow: hidden; }
 @ ./node_modules/react-slideshow-image/lib/components/slideshow/fade.js 12:0-20
 @ ./node_modules/rea

[2018-02-23 11:15] andela-foladeji commented on #6
@AnoushS I'll check this and get back to you, I must have missed something

[2018-02-27 12:24] balazsorban44 opened #7 "react-slideshow-image@0.1.3: The engine "node" is incompatible with this module. Expected version "7.*"."

[2018-03-02 00:50] andela-foladeji commented on #6
@AnoushS I've fixed the issue, you may need to uninstall and reinstall the package. And follow the instruction [here](https://github.com/andela-foladeji/react-slideshow#webpack-configuration). The error was that the `css-loader` and `style-loader` modules were missing. Let me know if you experience another bug

[2018-03-02 00:50] #6 closed

[2018-03-02 00:55] andela-foladeji commented on #7
@balazsorban44 I've made some updates to the package, can you try installing it again and let me know if you're having the error

[2018-03-02 00:56] andela-foladeji commented on #5
This issue has been fixed now @varvarasd. Thanks for pointing it out

[2018-03-02 00:56] #5 closed

[2018-03-02 09:57] balazsorban44 commented on #7
Yes, it is working under Node v.9.4.0 as well. Thanks.

[2018-03-02 09:57] #7 closed

[2018-03-02 09:59] balazsorban44 opened #8 "Missing animation in Slide"
When I am trying to implement the `Slide`, my images has no transition between them, they just pop up after another. I checked the `Fade` as well, the animation is wokring there, even with large images. So there must be a problem in the Slide animation.

[2018-05-28 19:46] Codypinto23 opened #9 "Images get conjoined when loaded from an external source"
I'm fetching some images via an API and storing them into an array in state. I then I have the Slide component reference those images.
Instead of the Slide component showing those photos one at a time, it shows all of the photos at once, stacked in a grid-fashion. I still have the arrows on the screen for proceed to next/previous, but those just take me to a blank screen.

[code]

![image](https:/

[2018-05-29 20:11] andela-foladeji commented on #9
@Codypinto23 I'll try and replicate this and get back to you. Sorry for the inconvenience

[2018-05-29 20:17] Codypinto23 commented on #9
@andela-foladeji , no worries! Thank you for the quick response! I think the fastest way to replicate this is to replace the files in your images array with web links (I just grabbed some random images):
[code]

[2018-09-06 02:28] Hinaser opened #12 "Browser tab crashes when re-render during animating slideshow"
Root cause might be in Tween.js.

[2018-09-07 16:10] Hinaser commented on #12
Sorry for late.
I created a web page to reproduce this issue here.

https://hinaser.github.io/react-slideshow/web/

[2018-10-01 23:56] javiermelendezc opened #15 "Hide Nav Buttons"
There isn't a property to hide the nav buttons for previous/next slide

[2018-10-02 09:49] andela-foladeji commented on #15
🤔 thanks for pointing that out. It will be added in the next release

[2018-10-02 23:11] andela-foladeji commented on #15
#16
New boolean property `(arrows)` has been added to choose if the arrow nav buttons should be displayed or not. The default value is `true`

[2018-10-03 00:12] javiermelendezc commented on #15
Sweet, just tested it and  it works as expected ,keep the good work 🙌

[2018-10-03 07:17] #8 closed

[2018-10-03 07:18] andela-foladeji commented on #8
This issue has been fixed. Sorry it took forever before I responded

[2018-11-07 00:16] mbalex99 opened #24 "Responsive only occurs when window changes"
So I have the component in a bootstrap

[code]

But for some reason it's only responsive if I move the window. Not sure what I should do?

Here's a video of what's happening.
https://www.youtube.com/watch?v=fMLYJOAmn7k

[2018-11-07 07:59] andela-foladeji commented on #24
I'll look into this and get back to you

[2018-11-07 23:11] andela-foladeji commented on #24
Can you share what your `jsx` looks like. I'm having issues replicating the bug here

[2018-11-17 17:13] andela-foladeji commented on #24
@mbalex99 I just cloned this repo https://github.com/mbalex99/react-slides-bug-demo installed all the necessary dependencies and it worked fine on my browser. I use a chrome v70. Something must be wrong somewhere. I'm curious to find out what's happening.

[2018-11-19 17:39] mbalex99 commented on #24
Ah I see this thing is only happening with hot module reloading....

*Maximilian Alexander*
www.ditto.live ( http://www.ditto.live )
San Francisco, CA 

Sent via Superhuman iOS ( https://sprh.mn/?vip=mbalex99@gmail.com )

On Sat, Nov 17 2018 at 9:13 AM, < notifications@github.com > wrote:

[2018-12-11 08:29] rohmanhm opened #25 "Why injected style width to all the child elements?"
Why do you have `style='width: 1585px'` to all the child elements. It just doesn't make sense. It's broke my design.

![image](https://user-images.githubusercontent.com/7524911/49787370-16b9eb80-fd59-11e8-8cc5-21c4e084b938.png)

[2018-12-11 08:36] andela-foladeji commented on #25
So sorry about that. I will look into it asap and get back to you. I’m sorry for the inconvenience.

[2018-12-11 09:47] andela-foladeji commented on #25
Hi @rohmanhm I've fixed the bug here https://github.com/andela-foladeji/react-slideshow/pull/26, it was an oversight. Thanks for pointing it out. 👍 🏅

[2018-12-11 09:47] #25 closed

[2019-01-22 16:21] ammarbinfaisal opened #27 "Use an svg icon for left and right slide button instead of < and > sign"
I think this would be more elegant if there is an svg arrow instead of greater and less than sign. Like those present on fontawesome

[2019-01-22 18:35] femioladeji commented on #27
@ammarbinfaisal yes I'm planning to do that. Thanks for pointing it out

[2019-02-03 20:01] femioladeji commented on #27
#28 PR to solve the issue

[2019-02-03 20:01] #27 closed

[2019-03-18 22:42] miliu99 opened #29 "Images list change not refreshing"
Thanks very much for sharing this. It works except, as the title says, it doesn't refresh when you give a new list of images. It looks like you forgot to implement componentWillReceiveProps? I don't see it in Slideshow class in slide.js. Should be an easy fix, right?

[2019-03-19 15:55] femioladeji commented on #29
Oh yeah, I didn't add it. I will make that adjustment soon. Thanks for pointing it out @miliu99

[2019-03-23 15:12] femioladeji commented on #29
#30 This issue has been fixed in the attached PR. Thanks @miliu99

[2019-03-23 23:09] miliu99 commented on #29
Thank you very much trying to fix it. I just tried and the problem does seem to be fix because I can see the new images as they are added. However, I got a ton of error in chrome console log like this:

Uncaught TypeError: Cannot read property 'style' of undefined
    at ./node_modules/@tweenjs/tween.js/src/Tween.js.TWEEN.Tween._onUpdateCallback (fade.js:240)
    at ./node_modules/@tweenjs/tween.j

[2019-03-24 11:27] femioladeji commented on #29
@miliu99 please when does the error occur, I'm having a hard time replicating it here

[2019-03-24 12:53] femioladeji commented on #29
I just made a new deployment now, please let me know if it fixed the bug or tell me steps to reproduce it. Thanks

[2019-03-24 15:10] miliu99 commented on #29
Thank you very much for quick response. I just tried with 1.1.5 and got the
same error as

[image: image.png]

Here is my code.

<div className={className} style={style}>
{images.length <= 1 ? <div className="each-slide">
<img src={images[0].imageUrl} alt="" className={slideClass || 'slide'}/>
</div> :
<Fade {...properties}>
{images.map((x, i) => <div key={i} className="each-slide">
<div className

[2019-03-24 15:15] miliu99 commented on #29
oh, I forgot to mention...this is the properties passed in

const properties = {
duration: 10000,
transitionDuration: 2000,
infinite: true,
indicators: false,
arrows: false
}

On Sun, Mar 24, 2019 at 10:10 AM miliu99 <miliu99@gmail.com> wrote:

[2019-03-24 15:18] miliu99 commented on #29
Also,  I start with one image and there is no error. The error happens when
I feed more images. So, it appears it has something to do with
componentWillReceiveProps.

On Sun, Mar 24, 2019 at 10:14 AM miliu99 <miliu99@gmail.com> wrote:

[2019-03-24 15:27] miliu99 commented on #29
Ok, I just debugged through your code. The error occurs at line 240 of
fade.js

      var tween = new TWEEN.Tween(value).to({ opacity: 1 },
transitionDuration).onUpdate(function (value) {
        _this4.divsContainer.children[newIndex].style.opacity =
value.opacity;

On Sun, Mar 24, 2019 at 10:18 AM miliu99 <miliu99@gmail.com> wrote:

[2019-03-24 15:38] miliu99 commented on #29
This if-check seems to fix that problem:

      var tween = new TWEEN.Tween(value).to({ opacity: 1 },
transitionDuration).onUpdate(function (value) {
        if (_this4.divsContainer.children[newIndex])
_this4.divsContainer.children[newIndex].style.opacity = value.opacity;
        if (_this4.divsContainer.children[index])
_this4.divsContainer.children[index].style.opacity = 1 - value.opacity;

[2019-03-24 20:01] femioladeji commented on #29
@miliu99 please can you completely uninstall the package and reinstall it. The fact that it's still complaining about line 240 shows the new updates wasn't there. Thanks for helping me debug 😄 let me know how to re-installing goes

[2019-03-24 22:12] miliu99 commented on #29
You are right. It does work after I uninstall and reinstall. Thank you very
much!

By the way, thank you for sharing this package. May I suggest an
improvement? For me, I'd like to be able to mix multiple effects in a
slideshow randomly, like, fading, sliding and so on. Is it possible?

On Sun, Mar 24, 2019 at 3:01 PM Oladeji Femi <notifications@github.com>
wrote:

[2019-03-24 22:15] femioladeji commented on #29
@miliu99 that's not possible for now. I'll think about it later. Thanks for the suggestion

[2019-03-24 22:15] #29 closed

[2019-04-20 18:48] andrewgura commented on #9
Has a solution to this been found? I am running into the same issue

[code]

They are all getting stacked into a single slide

[2019-04-20 21:21] femioladeji commented on #9
@andrewgura that's strange, I just tried replicating the bug now and it worked fine for me. Can I see what it looks like and can you share a more detailed code snippet so that I can try and replicate it here

[2019-04-20 22:49] andrewgura commented on #9
I had it like

[code]

but when I would do it this way, it would turn out fine

[code]

[2019-05-06 19:26] morningdew830 opened #33 "Rendering issue in IE11"
This is what I am seeing in IE11.

![image](https://user-images.githubusercontent.com/22661536/57249559-dd6f7880-7077-11e9-8a70-c67129c0c92a.png)

Could someone fix this issue?

[2019-05-06 19:29] morningdew830 commented on #33
For referrer,
[code]

[2019-05-06 22:28] femioladeji commented on #33
Ok, thanks for pointing this out @morningdew830. I'll look into it and get back to you

[2019-05-06 23:11] femioladeji commented on #33
I've raised a PR to fix this #34. You'll have to uninstall the package and re-install it. Let me know if the fix worked. Thanks

[2019-05-06 23:11] #33 closed

[2019-05-28 20:51] LMS007 opened #36 "Hiding arrows has no purpose, how to change slides?"
There should be a way to programmably change to a slide via some sort of id. I'm trying to do this with refs, but hard to follow compiled code with no examples.

I'm just doing this for now to change to second slide, and it feels pretty hacky...
[code]

[2019-05-30 07:36] femioladeji commented on #36
Hi @LMS007 if I get you right, you want to programmatically navigate to a particular slide image without clicking on the arrows or the indicators just below the slide. Is that what you want?

[2019-06-03 17:47] LMS007 commented on #36
Yes, this is correct. Might also be nice to have a callback when the slide animation finishes. Purpose for that is to set css classes to kick off key frame animations... nice to have!

Thank you

[2019-06-07 09:19] femioladeji commented on #36
Ok I'll work on that. Thanks for pointing it out @LMS007

[2019-06-22 15:32] femioladeji commented on #36
#37

[2019-06-23 20:42] #36 closed

[2019-06-23 20:42] #9 closed

[2019-06-23 20:42] #24 closed

[2019-07-14 23:36] LMS007 commented on #36
@femioladeji Great news, thank you!

[2019-07-30 13:32] saeedalzahrani opened #39 "Create-react-app failed to minify"
Error message

File
[code]
Version
[code]

package.json
[code]

[2019-07-30 13:34] femioladeji commented on #39
@saeedalzahrani thanks for raising this issue. I'll take a look at it. 👍

[2019-07-30 18:11] femioladeji commented on #39
@saeedalzahrani I'm guessing you did `npm run eject`. Did you make some changes to your configuration and what command do you run that generates this error? I'm trying to reproduce the bug but I couldn't

[2019-07-31 14:33] saeedalzahrani commented on #39
I am using react-gh-pages to deploy. https://github.com/gitname/react-gh-pages

Here is the full error message
[code]

And the debug log

[code]

This error also occurs when I run `npm run build` directly.

This is my repository if it is helpful to clone and reproduce https://github.com/salt-1/project-4-frontend

[2019-07-31 22:04] femioladeji commented on #39
@saeedalzahrani the issue has been fixed now in this PR #40 and a new version has been released. Use the v1.2.1 in your package.json and you should be good to go. Thanks for the issue

[2019-07-31 22:04] #39 closed

[2019-08-05 13:29] jee1mr opened #41 "Minification fails with razzle"
Command: `razzle build && NODE_ENV=production node build/server.js`
Error:
[code]

[2019-08-05 13:30] femioladeji commented on #41
Thanks for pointing it out @jee1mr. I'll investigate that and fix it asap

[2019-08-06 15:29] fortydegrees opened #42 "All items stacking instead of displaying on top of each other"
Hi, this looks like a great lightweight library, so thanks for developing it.

I'm using NextJS with the Grommet v2 component library, and when I try and implement the carousel, all the items are stacked, occupying lots of vertical space (flex-direction for the container they're in is vertical).

They still fade out and in sequentially, but the behaviour should be that they fade out and in at the

[2019-08-06 15:32] fortydegrees commented on #42
It seems like it's a similar problem to this closed issue: https://github.com/femioladeji/react-slideshow/issues/9 - is pulling external files the problem?

[2019-08-06 15:34] femioladeji commented on #42
@fortydegrees I'll try and replicate the bug and get back to you

[2019-08-06 17:39] femioladeji commented on #42
@fortydegrees you can load images remotely. I think this is most likely caused by an issue with your styles. You can start by keeping the content in the <fade> simple and then grow from there

[2019-08-07 09:51] fortydegrees commented on #42
Hi @femioladeji , thanks very much for the quick response. I don't disagree that it's an issue with my styles, but I've just stripped away everything and still encounter the same issue. Here is the current code I'm testing it with.

[code]

Does anyone have experience with getting this to work with NextJS? I really can't work out what the issue could be...

[2019-08-07 10:15] femioladeji commented on #42
This is what I have when I copied your code https://drive.google.com/file/d/18glZvm1EV2PfaCbJiNqOwPH96KHFxGts/view?usp=sharing.

If it's specifically an issue with nextjs check the readme, there's a section there for next.js configuration. I hope it helps

[2019-08-07 11:25] fortydegrees commented on #42
Hi, I followed the section for NextJS as the code doesn't compile without it. I have recreated the error in a codesandbox here:

https://codesandbox.io/s/hello-world-bwh06

This issue only occurs when _app.js and _document.js are present, but I still can't really work out what's causing it. Once again I understand this isn't really an issue with your library, but I can't wrap my head around what t

[2019-08-08 11:26] fortydegrees commented on #42
Just as an update, even without _app.js and _document.js the issue persists.

I've recreated the most bare-bones NextJS project, with just this component, to demonstrate the issue: https://codesandbox.io/s/hello-world-j9r5k

[2019-08-08 11:28] femioladeji commented on #42
@fortydegrees change the next.config.js to this

const withCSS = require("@zeit/next-css");

if (typeof require !== "undefined") {
  require.extensions[".css"] = file => {};
}

module.exports = {
  webpack: config => {
    // Fixes npm packages that depend on `fs` module
    config.node = {
      fs: "empty"
    };

    return config;
  }
};

module.exports = withCSS({
  cssModules: false,
  cssLo

[2019-08-08 11:56] femioladeji commented on #42
@fortydegrees you can check this out https://codesandbox.io/s/slideshow-for-next-wj3gf

[2019-08-08 12:26] fortydegrees commented on #42
Amazing! It works! Thanks so much!

I feel like this could be quite a common issue with larger NextJS projects - I don't think I'd have ever worked it out. Thanks for the help and the great module

[2019-08-08 13:38] femioladeji commented on #42
There are several issues on the @zeit/next-css github repository related to how the package handles css in 3rd party packages. If you have more problems with this you can re-open this issue

[2019-08-08 13:38] #42 closed

[2019-08-18 14:35] fortydegrees opened #43 "Support for SSR?"
Is this planned in the future?

[2019-08-18 21:37] femioladeji commented on #43
There's actually support for NextJs, you'll need to make some edits in the next.config.js file. Are you having issues using it @fortydegrees. Let me see the error you're having

[2019-08-19 08:43] fortydegrees commented on #43
I think it has to do with SSR. I have it working on NextJS fine thanks to the great instructions in the module document.

However when I load the page with it on, I get a FOUC (Flash Of Unstyled Content) for a brief moment, and then it renders properly.

If I wrap it in a <NoSSR> tag using react-no-ssr, I can bypass this visual bug.

You can see an example here:
https://imgur.com/a/b7EkSI1

I figu

[2019-08-28 10:42] kwminfinidea commented on #41
Same error when building with nextjs

Command: next build
Error:

SyntaxError: Unexpected token .
    at new Script (vm.js:84:7)
    at createScript (vm.js:264:10)
    at Object.runInThisContext (vm.js:312:10)
    at Module._compile (internal/modules/cjs/loader.js:684:28)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:732:10)
    at Module.load (internal/modules/cjs/loader.js

[2019-08-28 10:48] femioladeji commented on #41
Hi @kwminfinidea I've not had enough time to investigate the issue properly. For nextjs can you check this sandbox https://codesandbox.io/s/slideshow-for-next-wj3gf? The `next build`` command works for it. Let me know if you're still having some issues

[2019-08-28 13:23] jee1mr commented on #41
@femioladeji
https://github.com/jaredpalmer/razzle/issues/692
This might be useful.

[2019-09-04 10:18] KevinKelbie opened #44 "Bug: Tween not a constructor"
I'm getting the following error message in the console.

        TypeError: a.Tween is not a constructor               fade.js:357

Weird thing is its only occurring on Azure when I deploy it and not when I'm running it locally.

My code:

        <Fade {...properties}>
              {
                props.images.map((image, i) => {
                  return <div className="each-slide">

[2019-09-04 10:19] femioladeji commented on #44
@KevinKelbie that's strange. I'll look into this and get back to you later in the day

[2019-09-04 10:22] KevinKelbie commented on #44
Let me know if you need anything from me to help with debugging.

[2019-09-04 20:02] banada commented on #6
I am encountering the same issue, even with css-loader and style-loader installed and added to my webpack config:

[code]

[2019-09-04 22:39] femioladeji commented on #44
@KevinKelbie what version of the package are you using? I'm trying to replicate the bug here but I couldn't

[2019-09-04 23:12] femioladeji commented on #6
@banada Probably something is missing in your webpack config. You can check this sandbox to see what I did https://codesandbox.io/s/bold-fermat-eqvlq

[2019-09-05 09:03] KevinKelbie commented on #44
@femioladeji its happening with `^1.2.1` and `^1.2.2`

Here is a live version of the site I am working on for a client. Its throws the error when you try to click on the arrows or wait for it to try and transition which it should do every few seconds: https://agileresource.co.uk/

[2019-09-05 22:23] femioladeji commented on #44
hi @KevinKelbie after some investigations I discovered that the bug was introduced because of Tweenjs update to v18. I've released a new version, v1.3.0. That should fix the issue. Thanks for reporting this. Let me know if it works fine

[2019-09-05 22:23] #44 closed

[2019-09-06 08:44] KevinKelbie commented on #44
Worked like a charm, thank you!

[2019-09-21 21:12] cbeier commented on #41
@femioladeji I have cloned the sandbox and "next build" still produce the same error.

`> slideshow-for-next@1.0.0 build /Users/cbeier/Downloads/test

Creating an optimized production build

Compiled successfully.

{ /Users/cbeier/Downloads/test/node_modules/react-slideshow-image/lib/components/slideshow/general.css:1
.react-slideshow-container {
^

SyntaxError: Unexpected token .
    at Module._c

[2019-10-05 18:22] abdulrahman3D opened #45 "image not displayed"
Image not displayed although the same image path working on another js file in the same directory.

`import React, { Component }  from 'react';
import { Zoom } from 'react-slideshow-image';
import {  Image,  } from "react-bootstrap"

const images = [
    "../../static/img/hero-illustration.png",
    "../../static/img/kacst.png"
  ];

  const zoomOutProperties = {
    duration: 5000,
    transition

[2019-10-08 16:41] femioladeji commented on #45
@abdulrahman3D sorry for my late response. Have you been able to fix it now? If not is there any error on your console?

[2019-10-29 19:58] Hallidayo opened #47 "Full Size"
Hi,

If I want to full size the slideshow and set the width to be 100% instead of 70% how would I achieve this with each slide as it looks as if the each slide has an inline style of width 737px?

I'm just using the sample css but with width set to 100% instead of 70% and no margin.

Thanks.

[2019-10-29 20:01] #47 closed

[2019-10-29 20:06] Hallidayo commented on #47
This was a rending issue with my mac. This slideshow is working perfectly.

[2019-11-18 03:49] refayathaque opened #48 "CSS conflicts with Bulma"
Thank you for creating such a nice node react package. Unfortunately, I think there are some CSS styles that are conflicting with my Bulma classes. How would I solve this issue?

[2019-11-18 09:32] femioladeji commented on #48
I'll look into this and get back to you. Sorry about that @refayathaque

[2019-11-18 22:54] femioladeji commented on #48
I tried to replicate it but can you share some snippet or perhaps share it with https://codesandbox.io/

[2019-11-19 02:31] refayathaque commented on #48
Here is an image of my window without loading the fade component:
<img width="1845" alt="Screen Shot 2019-11-18 at 9 28 06 PM" src="https://user-images.githubusercontent.com/25051299/69111111-89901400-0a4a-11ea-90a8-4c8551cbbe15.png">
Here is the same window after loading the fade component, it is nested in between the Bulma tiles and the blurb:
<img width="1845" alt="Screen Shot 2019-11-18 at 9 2

[2019-11-19 02:34] refayathaque commented on #48
[Untitled.txt](https://github.com/femioladeji/react-slideshow/files/3861654/Untitled.txt)

[2019-11-24 23:30] femioladeji commented on #48
Hi @refayathaque I think if you try to add this to the `column` div it should work
I added the maxWidth to the `column` div. Let me know if that works
[code]

![Screenshot 2019-11-25 at 00 30 18](https://user-images.githubusercontent.com/17332992/69503533-c82a4080-0f1a-11ea-88a2-938b12f79b67.png)

[2019-11-24 23:32] femioladeji commented on #45
@abdulrahman3D I want to believe you've been able to fix this. So I'll close the issue

[2019-11-24 23:32] #45 closed

[2019-11-26 00:54] refayathaque commented on #48
Thank you so much, my friend! That worked! Check it out [here](https://405d.egt-labs.com)

[2019-12-13 07:22] indu127pal opened #49 "Two slide effect are not worked parallel"
If I'm using the two times side effect in a component than the first slide effect works but second is not working, it stops rotating the second component.

[2019-12-16 04:38] refayathaque commented on #48
Hi again @femioladeji ! I had a question regarding the responsiveness of the fix you provided above. If you try and access the website at [https://405d.egt-labs.com](https://405d.egt-labs.com) and play around with your browser size you will notice that the component gets not only disappears, but the layout of other elements are altered. I am having a hard time developing a permanent fix for this a

[2019-12-16 10:10] femioladeji commented on #48
I'll look into this and get back to you @refayathaque

[2019-12-16 10:11] femioladeji commented on #49
ok @indu127pal I'll get back to you about this

[2019-12-16 18:40] golestanirad opened #50 "the indicators is gone if the list of slide is many"
i have around 100 slides and I get no indicators, I also noted for the smaller amount the indicators exist but it looks like little vertical lines than dots and if you click on one close to the end the slide is empty,

[2019-12-16 18:49] femioladeji commented on #50
@golestanirad I'll look into this and get back to you soon

[2019-12-16 20:07] femioladeji commented on #48
Hi @refayathaque change this line
[code]
to
[code]
that should work

[2019-12-16 20:07] #48 closed

[2019-12-17 01:19] femioladeji commented on #49
@indu127pal I've released a new version 1.3.2 to fix the bug.
Here is the PR #51

Let me know if it works fine now.

[2019-12-17 01:19] #49 closed

[2019-12-17 01:36] femioladeji commented on #50
I'm guessing you want something like the image I attached right
![Screenshot 2019-12-17 at 02 34 05](https://user-images.githubusercontent.com/17332992/70957297-f3b1ce00-2075-11ea-9dfa-d777c971c4fd.png)

[2019-12-17 08:29] indu127pal commented on #49
Thanks, Oladeji Femi.

On Tue, Dec 17, 2019 at 6:49 AM Oladeji Femi <notifications@github.com>
wrote:

[2019-12-17 11:38] femioladeji commented on #50
I've released v1.3.3 to fix this. Let me know if that works for you

[2019-12-17 11:38] #50 closed

[2019-12-19 05:54] refayathaque commented on #48
Hi @femioladeji,

That did it! Thank you so much :)

[2019-12-20 16:57] theredwillow opened #53 "Support for TypeScript"
'@types/react-slideshow-image@latest' is not in the npm registry.

[2019-12-21 09:20] femioladeji commented on #53
@theredwillow thanks for pointing that out. I'll look into it

[2020-01-12 18:02] vince1393 commented on #53
Having this issue as well. I'm using require() for now as a temporary fix, but it would be awesome if the package added type support

[2020-01-17 13:21] femioladeji commented on #53
Thanks @vince1393 I just got back from vacation. I'll look into this ASAP to make it easier for typescript support

[2020-02-05 14:39] IpIvanov opened #55 "Toggle autoplay programmatically"
Is there an option to toggle the autoplay prop programmatically after the init of the slider?

I've tried with the state value but with no luck.

https://codesandbox.io/s/nostalgic-leavitt-r1vwr?fontsize=14&hidenavigation=1&theme=dark

[2020-02-05 20:05] femioladeji commented on #55
@IpIvanov I'm investigating this now. I'll get back to you once I figure it out

[2020-02-06 01:40] femioladeji commented on #55
PR raised to fix the issue #56

[2020-02-06 01:43] femioladeji commented on #55
@IpIvanov thanks for pointing this out. I've released a new version `1.3.4` with the fix.

check it here https://codesandbox.io/s/quirky-leakey-xgxxh

[2020-02-06 01:43] #55 closed

[2020-02-06 07:31] IpIvanov commented on #55
Thank you very much!

[2020-02-17 17:44] zakirsajib opened #57 "Conflicting with purge css."
warn chunk styles [mini-css-extract-plugin]                 
Conflicting order. Following module has been added:         
 * css ./node_modules/css-loader??ref--12-oneOf-1-1!./node_modules/postcss-loader/lib??pos
tcss-2!./node_modules/react-slideshow-image/lib/components/slideshow/general.css
despite it was not able to fulfill desired ordering with these modules:
 * css ./node_modules/css-loader??

[2020-02-17 18:13] femioladeji commented on #57
@zakirsajib I'll look into this and get back to you

[2020-02-18 04:38] zakirsajib commented on #57
It happens when I build the site in gatsby. In `gatsby develop` command, all good, but when i command `gatsby build`, at last process, it breaks. Even netlify build fails.

The plugin `react-slideshow-image` and its css is the question. When I disable this plugin to use then everything looks fine. I used this plugin in twice on my gatsby site. in home page its still enable and no issue so far (bui

[2020-02-24 00:59] femioladeji commented on #57
@zakirsajib sorry for my late response. Are you saying the bug only shows on the second page but it works out find on the homepage?

[2020-02-24 04:49] zakirsajib commented on #57
Yes. It works without any issue on home page but it does not work if i used on other page.

[2020-02-28 08:10] thomaxxl opened #59 "Lazy loading"
I like this package but it becomes slow with a large amount of images.
Is it possible to lazy load the images in the slideshow?

[2020-02-28 10:23] femioladeji commented on #59
@thomaxxl thanks for pointing that out. I'll look into that

[2020-02-29 16:46] femioladeji commented on #59
Hi @thomaxxl what you can do for now is to do something like this. The function lazyLoadImages will lazy load all `img` tag with class `lazy`. It's based on this [article](https://developers.google.com/web/fundamentals/performance/lazy-loading-guidance/images-and-video).

I'll look into a more robust way to handle this for all browsers but for now, this will work for you
[code]

[2020-02-29 16:46] #59 closed

[2020-03-03 13:58] zakirsajib opened #62 "Show me an example of goNext and goBack methods"
Show me an example of goNext and goBack methods of Slide Effect or any Effect you have.

[2020-03-03 14:43] femioladeji commented on #62
@zakirsajib here you go https://codesandbox.io/s/serene-lalande-yjmol

[2020-03-03 14:43] #62 closed

[2020-03-03 14:44] femioladeji commented on #62
For more details about refs, [check this out](https://reactjs.org/docs/refs-and-the-dom.html#legacy-api-string-refs)

[2020-03-04 15:48] PironSteve opened #63 "It is possible to swipe the slideshow and change autoplay props ?"
I wonder if it is currently possible to swipe images on mobile phones?

By the way, I can't change the autoplay props. Either it's true or it's done, but I can't switch between the two. Is that even possible?

[2020-03-04 16:18] femioladeji commented on #63
Yes, it's possible to change the `autoplay` prop. Check this sandbox https://codesandbox.io/s/quirky-leakey-xgxxh

Unfortunately, the swipe gesture functionality has not been implemented

[2020-03-04 16:19] femioladeji commented on #63
@PironSteve click on the toggle autoplay button to see the effect

[2020-03-04 16:25] PironSteve commented on #63
That's exactly what I did with the useState but I'm trying to do it when my div appears in scroll. Does it also work with the fade?

[2020-03-04 18:06] femioladeji commented on #63
@PironSteve yes it works with fade too https://codesandbox.io/s/infallible-hertz-w3bsk

I think you should confirm that the state controlling the `autoplay` prop is actually changed

[2020-03-04 22:09] thomaxxl commented on #59
Thanks, didn't have the time tot test it though.

[2020-03-05 08:18] PironSteve commented on #63
@femioladeji Thank you for your answer,
I've debugged my condition and I fit in well, but it doesn't take the change of props on the scroll, it's weird.

[2020-03-05 08:52] femioladeji commented on #63
Can you create something on codesandbox.io so that I can have a better view of whats happening

[2020-03-05 09:00] PironSteve commented on #63
This is something like that: https://codesandbox.io/s/snowy-darkness-ihnls

[2020-03-05 10:17] femioladeji commented on #63
@PironSteve is this what you're trying to do https://codesandbox.io/s/white-star-rp7it

[2020-03-05 10:24] PironSteve commented on #63
That's exactly what i'm trying to do, thank you !

[2020-03-05 10:34] femioladeji commented on #63
You're welcome. Glad I could help

[2020-03-05 10:34] #63 closed

[2020-03-06 09:56] thomaxxl commented on #59
Works great, thanks!

[2020-03-06 10:24] thomaxxl commented on #59
Hi, the indicator bar disappears when a lot of images are in the slideImages list.
Should I create a custom bar with goTo() to handle this or is there another way?

[2020-03-06 13:07] femioladeji commented on #59
No,  it shouldn't disappear Is it more than this [https://codesandbox.io/s/snowy-water-ldeym](https://codesandbox.io/s/snowy-water-ldeym)?

It should show all the indicators. Can I see a screenshot of what it looks like

[2020-03-06 13:21] thomaxxl commented on #59
Hmm, in my component the dots are stretched until they fade away.
However in your example the dots appear on new rows.

I'm gonna check mycode.
Thanks a lot anyway!

[2020-03-06 13:24] femioladeji commented on #59
Check if you're using the latest version of the package also. I fixed the issue in this PR #52

[2020-03-06 14:07] thomaxxl commented on #59
Ah, this works better, thanks again :)
It would be nice to have the indicators to be customizable as well, adding hovers, colorize individual indicators, intervals etc.

Anyway, I'm happy how it works now, great work.

[2020-03-18 15:42] kalemi19 opened #66 "Uncaught error in production: Cannot find module "./components/slideshow/general.css""
Locally it works and loads perfectly, but when I deploy the app to production, the app doesn't load and in the console I see the following.

<img width="1440" alt="Screen Shot 2020-03-18 at 4 37 29 PM" src="https://user-images.githubusercontent.com/1066392/76978321-d6232780-6936-11ea-9483-25252627c85b.png">

Basically the deploy compiles the assets locally and copies them to the external server.

[2020-03-18 16:38] femioladeji commented on #66
@kalemi19 the package has css files included in it. I'm guessing the css wasn't bundled together with the js files

[2020-03-18 17:10] kalemi19 commented on #66
Never mind. The assets:precompile was failing silently and when I ran it on it's own I got more helpful errors. Basically I had the `resolve-url-loader`, `sass-loader` and `style-loader` ONLY in `devDependencies`.

That's why it worked in development mode.

Once I moved them to dependencies it started working in production too.

Thank you for taking the time and good job :)

[2020-03-18 17:10] #66 closed

[2020-03-18 21:13] rodrigofalco commented on #43
Is this working on latests nextjs (9.1.1)?
I get this error, even with the modifications in the next.config.js

{ /home/xxxxx/clients/projectname/projectfolder/node_modules/react-slideshow-image/lib/components/slideshow/general.css:1
.react-slideshow-container {
^

SyntaxError: Unexpected token .
    at Module._compile (internal/modules/cjs/loader.js:721:23)
    at Object.Module._extensions..js (i

[2020-03-18 22:37] femioladeji commented on #43
Can you replace the content of your next.config.js file with this
[code]
Here's a code sandbox sample

[2020-03-19 13:17] rodrigofalco commented on #43
@femioladeji Wow you are responsive... thanks so much for this!.

It works now. I had to add some other libraries as well to the list of exclussions, like bootstrap, but the build process completes now.
Thanks again.

[2020-03-19 13:33] #43 closed

[2020-03-19 15:55] femioladeji commented on #41
This error has been fixed now. please check the `nextjs` section of the readme for the new configuration

[2020-03-19 15:55] #41 closed

[2020-03-24 18:13] EliranGooner opened #67 "Placing a image over the slideshow"
I'm trying to have a logo hanging over the slideshow so it won't be affected by the slides changing in the background. I figured I should ```z-index``` in order to get this done but in order to do that I need to make the ```slide-container``` position to absolute but when I apply in the CSS provided in the readme it doesn't take effect.
When I manually add through inspect tool on the browser the l

[2020-03-24 18:37] EliranGooner commented on #67
Sorry, apparently something went wrong while importing the css. All good now.

[2020-03-24 18:37] #67 closed

[2020-03-25 12:32] PironSteve opened #68 "Implement Swipe"
Hi

I know the swipe is not integrated yet but I was wondering if it was possible to integrate it ourselves with some functions?

I'm using the Fade effect, would it be possible to allow swipe with this transition effect?

Should I go on an EventListener?

Thanks in advance for the answers and advice

[2020-03-26 17:05] femioladeji commented on #68
@PironSteve I guess this is what you want to do
https://codesandbox.io/s/agitated-tharp-jm586

You may want to adjust some parameters and remove anything you don't need

[2020-04-01 18:51] femioladeji commented on #68
@PironSteve I hope ☝️ worked for you

[2020-04-01 18:51] #68 closed

[2020-04-09 04:06] jcosentino commented on #53
Is there a workaround for React with TypeScript?
I get this error:

[2020-04-12 09:26] femioladeji commented on #53
Hi @jcosentino sorry for the late response. The typings have not been added to the `@types` repository.

What you can do for now is this

1. In your tsconfig.json file add this to the compiler options
[code]
declare module 'react-slideshow-image' {
    export class Zoom extends React.Component<ZoomProps & any, any> {
        goBack(): void;
        goNext(): void;
        goTo(index: number): void

[2020-04-12 21:53] jcosentino commented on #53
Yes! That worked. Thank you so much, I appreciate it a lot.

[2020-04-12 22:14] #53 closed

[2020-04-13 00:37] jcosentino opened #69 "Encapsulating div hiding Fade component causes image panel to incorrectly load"
I am utilizing the Fade component inside of a div that initially hides it based on state.
The div, when set to any of the CSS properties, creates a distortion on initial set:
[code]
When the Fade div is hidden by one of those methods, and then unhidden, whatever is inside of the div (images or text) will not be centered correctly. But, upon a zoom change or window size change, the div fixes itself

[2020-04-13 08:50] femioladeji commented on #69
@jcosentino try using `visibility: hidden` instead of `display: none`. I'll still look into fixing it when `display` css property is used

[2020-04-13 09:15] femioladeji commented on #69
I think the best approach will be to use jsx to control when the slide is shown instead of using css. Setting display to none doesn't stop the slideshow from getting mounted.

I changed the `app.js` to this
[code]

[2020-04-13 09:15] #69 closed

[2020-04-16 11:32] amirkhh commented on #45
I have this issue and console doesn't show any error. How can I fix it ?

[2020-04-16 11:41] femioladeji commented on #45
@amirkhh are you sure the image path is correct? Can you replicate it on [https://codesandbox.io/](https://codesandbox.io/) so that I can have a better look?

[2020-04-17 12:43] amirkhh commented on #45
Yes, I'm sure.
I've found the problem. When I use direction: rtl in body tag in style all of images aren't load.

How can I fix it @femioladeji ?

https://codesandbox.io/s/elastic-mestorf-ryidb?file=/src/styles.css

[2020-04-17 20:37] femioladeji commented on #45
HI @amirkhh I've seen the issue. It's really quite tricky to debug because the slideshow relies on the `transform: translate` CSS style. Can you apply the `direction: rtl` style to the particular div you want to display from right to left so that the slideshow portion won't be affected with the style

[2020-04-18 10:49] amirkhh commented on #45
Hi @femioladeji, It's not working for me.
Could you refactor it in [codesandbox.io](https://codesandbox.io/s/elastic-mestorf-ryidb?file=/src/styles.css) for me ? Thank you.

[2020-04-18 15:36] femioladeji commented on #45
@amirkhh check this https://codesandbox.io/s/goofy-shamir-mfsfm?file=/src/App.js

[2020-04-19 09:18] amirkhh commented on #45
Thank you @femioladeji, but I couldn't remove rtl direction from body tag so I put in body tag and set direction: ltr to slide show container (..slide-container) and it's solved.

https://codesandbox.io/s/elastic-mestorf-ryidb?file=/src/styles.css:85-101

[2020-04-19 15:38] ilearnbydoing opened #71 "gatsbyjs integration"
Hi,

Has anybody implemented with Gatsbyjs?

I am getting this issue in VS Code while importing the module
--
"Could not find a declaration file for module 'react-slideshow-image'. 'PATH/node_modules/react-slideshow-image/lib/index.js' implicitly has an 'any' type.
  Try `npm install @types/react-slideshow-image` if it exists or add a new declaration (.d.ts) file containing `declare module 'react-

[2020-04-19 16:32] femioladeji commented on #71
@ilearnbydoing  Can you follow the instructions here #53

[2020-04-28 13:41] #71 closed

[2020-05-05 15:56] thokchomrs commented on #57
my style crase when I use

[2020-05-16 09:07] femioladeji commented on #57
@thokchomrs you need to whitelist the `react-slideshow-container` class. Your purgecss config file should look similar to this
[code]

[2020-05-16 09:07] #57 closed

[2020-05-26 18:22] tfsjohan opened #72 "Avoid require() css"
I'm trying to use this component in Next JS but it doesn't allow for CSS to be required.

Would it be possible to avoid requiring the CSS files? Or a way to make it work with Next?

Global CSS cannot be imported from within node_modules.
Read more: https://err.sh/next.js/css-npm
Location: node_modules/react-slideshow-image/lib/components/slideshow/fade.js

[2020-05-26 18:32] femioladeji commented on #72
Can you follow this https://github.com/femioladeji/react-slideshow/issues/43#issuecomment-600893858

I'll continue thinking of other solutions that won't require changing the next config file

[2020-05-26 19:39] femioladeji commented on #72
@tfsjohan let me know if that ☝️  works for you

[2020-05-26 19:55] tfsjohan commented on #72
Yes! Thank you.

Quite hard to style it with Next. Would be nice if you could style arrows and indicators as props instead. And it's hard to make every hidden container height: 100%. It is solvable with global CSS, but that also kind of breaks some of the things I like with Next and its CSS model.

[2020-05-26 20:02] femioladeji commented on #72
Yes there's a plan to make the arrows and indicators customizable. I'll work on it but I don't have an ETA for the feature yet

[2020-05-26 20:07] tfsjohan commented on #72
Sounds good!

[2020-05-26 20:07] #72 closed

[2020-05-26 23:24] femioladeji commented on #72
@tfsjohan I've released a new version that can allow you to use custom indicators. Check this section of the readme https://github.com/femioladeji/react-slideshow#customizing-indciators and you can check this sandbox to see how it works https://codesandbox.io/s/serene-lalande-yjmol?file=/src/App.js.

I'll work on allowing custom arrows also soon

[2020-05-27 07:13] tfsjohan commented on #72
Just noticed that this component also breaks server side rendered hooks on Next, so it's quite unusable for me at the moment.

Possible because of react and react-dom peerDependency versions.

[2020-05-27 07:56] femioladeji commented on #72
@tfsjohan sorry about that. I'll take a more detailed look at how SSR apps can use the package easily. Thanks for the feedback

[2020-05-27 07:59] tfsjohan commented on #72
Thanks!

I liked the API otherwise. If it would have worked better with NextJS it would have been much of what I needed.

I don’t know, but it might be as easy as bumping the react and react-dependencies to a version that supports hooks.

// Johan

[2020-05-27 08:39] femioladeji commented on #72
Can you please paste the error you're getting so that I can have a better insight into what's happening

[2020-05-27 09:18] tfsjohan commented on #72
https://fb.me/react-invalid-hook-call <https://fb.me/react-invalid-hook-call>

Don’t have the exact message since I changed the code, but the error message links to this react article.

Regarding Next it only happens on the server, so it probably has more to do how Node resolves modules than Webpack.

[2020-05-28 02:11] wilo087 opened #74 "You should add TypeScript support"
When I try to import from .tsx file I received this error:

[code]
[code]

[2020-05-28 08:07] femioladeji commented on #74
Hi @wilo087 can you check this out https://github.com/femioladeji/react-slideshow/issues/53#issuecomment-612587488

[2020-05-31 09:13] #74 closed

[2020-06-18 15:44] yudyananda opened #80 ""window" is not available during server side rendering"
Hi there, i'm using latest version react-slideshow in my  gatsby js powerd website. everything is working fine on develop mode but it throws me an error on build process. `"window" is not available during server side rendering`

this is my component

[code]

I wonder how to make it works on build?

[2020-06-18 15:59] femioladeji commented on #80
Hi @yudyananda can you check this out https://www.gatsbyjs.org/docs/debugging-html-builds/#fixing-third-party-modules and [this](https://github.com/gatsbyjs/gatsby/issues/5835#issuecomment-525045586). The package uses window to check when you resize the browser but `window` is a browser object and it's not available on the server.  Let me know if you're able to fix it with the instruction in the l

[2020-06-18 16:37] yudyananda commented on #80
Hi @femioladeji many thanks for quick answer

try with creating [util](https://github.com/gatsbyjs/gatsby/issues/5835#issuecomment-525045586)

[code]

[code]

the result is not as i expected, the slider goes inside another div, in this case `<div className="overlay block ...`

another approach is using [loadable-component](https://github.com/gregberge/loadable-components), works fine, but it have

[2020-06-18 18:23] femioladeji commented on #80
@yudyananda it's weird that it's going into the `<div className="overlay block ...` so what happens if you comment that div?

[2020-06-19 07:03] yudyananda commented on #80
1. use ternary `{isBrowser() && <FrontSlider />}`
2. [modify the webpack config](https://www.gatsbyjs.org/docs/debugging-html-builds/#fixing-third-party-modules) `test: /react-slideshow-image/`
3. comment the `<div className="overlay block ...`
4. build gatsby

the result is slider goes inside next element below => `<div className="absolute ...`. **Another weird parts** `<div className="absolute .

[2020-06-19 10:12] femioladeji commented on #80
@yudyananda it's fine. Let me know when you have an example repo. I'm always here to help

[2020-06-21 06:12] mluce194 commented on #80
I had the same issue on my gatsby Website and I solved this using loadable-components. However it is not as good as expected since, as @yudyananda  mentioned, it causes delay on page load. I am not sure what the best solution is.

[2020-06-22 08:22] femioladeji commented on #80
@mluce194 yes you're correct. The window event is used to handle browser resizing. I'm considering using [resize-observer-polyfill](https://www.npmjs.com/package/resize-observer-polyfill) but I don't know if it will completely solve the SSR issue. I'll continue to make research and hopefully, I'll come up with a solution that works perfectly.

[2020-06-28 04:33] yudyananda commented on #80
Hi @femioladeji, sorry for the late reply. You can check the repo [here](https://github.com/yudyananda/react-slideshow-in-gatsby)

not sure whats going on here but
- somehow gatsby doesnt include react-slideshow component on build output
- the react slideshow cause delay on initial page load
- about the duplicate, i guess it has connection with `relative` and `absolute` position (from the parent a

[2020-06-28 21:38] femioladeji commented on #80
@yudyananda thanks for reproducing the issue. I've taken a look at it and I've fixed the issue with this PR #81 . I've released a new version (v2.0.1). You don't need any workaround to use it anymore. I've fixed it all in the package so you can remove the `isBrowser` check and remove the content in `gatsy-node` file also. There's a little tweak though. Now you have to import the css in your js fil

[2020-06-28 21:38] #80 closed

[2020-07-02 07:59] FantasyVII opened #84 "slideshow wrong layout in gatsby"
Hi,

I am using the latest version of react-slideshow v2.0.1 and I am having an issue with the layout in gatsby. When I build the project in 'develop mode' it works perfectly fine. However, once I build in 'build mode' to release my site, everything falls apart.

The layout looks like this in build mode
![image](https://user-images.githubusercontent.com/36584990/86332225-468e5400-bc5b-11ea-83f9-c3

[2020-07-02 08:52] femioladeji commented on #84
Hi, @FantasyVII I couldn't replicate this bug. I created a simple gatsby example [https://github.com/femioladeji/gatsby-slideshow-example]((https://github.com/femioladeji/gatsby-slideshow-example)) and it worked fine

[2020-07-02 09:07] FantasyVII commented on #84
Hi @femioladeji

thank you for the quick replay and help!'

I cloned your repo, installed gatsby, and ran the "gatsby build" command.
I opened the index.html from the public folder in chrome and I still got the same results
![image](https://user-images.githubusercontent.com/36584990/86339386-932a5d00-bc64-11ea-89d3-7f28058fc8c6.png)

If I type "gatsby develop" it works perfectly. Not in build mode

[2020-07-02 09:10] femioladeji commented on #84
@FantasyVII Oooh you're not supposed to open the index.html, you have to run `yarn serve` after running `yarn build`. Check [the documentation](https://www.gatsbyjs.org/docs/quick-start/)

[2020-07-02 09:12] FantasyVII commented on #84
ooh wow, I feel really stupid.
Thank you so much for your help. I spent over 5 hours trying to debug this before I raised an issue here.

Apologies for wasting your time. Really appreciate the help!!! :D

[2020-07-02 09:14] #84 closed

[2020-07-09 14:57] EliranGooner opened #86 "Some slides not functioning since update 2.0.1"
I recently updated ```react-slideshow-image``` to version 2.0.1 as the older versions didn't support SSR and it messed up my gatsby project.

Now the SSR is no longer an issue since the update but I noticed some slides not functioning correctly throughout my project now.

The repo is here: https://github.com/EliranGooner/zeitouni

I didn't send it to production yet but since the update on one page

[2020-07-09 15:01] femioladeji commented on #86
@EliranGooner did you import the styles? In version 2.0.1 you have to explicitly import the CSS file from the library?

[2020-07-09 15:32] femioladeji commented on #86
In the `SSRFriendlyFade.js` file, you just need this.
`import "react-slideshow-image/dist/styles.css"`
That should work.

[2020-07-09 15:39] EliranGooner commented on #86
@femioladeji Thank you, forget about that one.
But apparently I still have issues completing the build without using the workaround mentioned above.
I'm getting the same error mentioned here: https://github.com/gatsbyjs/gatsby/issues/25298#issuecomment-649720609 without using the workaround.
Have any suggestions on how to fix this?

[2020-07-09 16:13] femioladeji commented on #86
@EliranGooner you need to comment out the content of the `gatsby-node.js` file. It's not needed anymore

[2020-07-09 22:48] femioladeji commented on #86
@EliranGooner I'm sure the issue has been resolved now. So I'll close this

[2020-07-09 22:48] #86 closed

[2020-07-29 05:25] AjayDhimanELS opened #93 ""window" is not available during server side rendering."
I have a simple React Class component where if user is logged in then they will see the content, but if not:

`(navigate('/app/login'))`

this navigate function of gatsby is causing issues for me.
while running npm build it says:
`window is not available during server side rendering`, and :

`var navigate = function navigate(to, options)
{ window.___navigate(rewriteLinkPath(to, window.location.pat

[2020-07-29 07:15] femioladeji commented on #93
@AjayDhimanELS this bug is not related to `react-slideshow`. You should check out [this issue](https://github.com/gatsbyjs/gatsby/issues/12537) on gatsby repo

[2020-07-29 15:30] #93 closed

[2020-08-01 13:49] elainebyrne opened #94 "TypeError: Super expression must either be null or a function"
Installed and everything is working in localhost. However, when I put on production server after running "npm run build", the error comes

"**TypeError: Super expression must either be null or a function**"

[code]

Here's the screenshot of the error: https://ibb.co/k4RcTt8

[2020-08-01 16:04] femioladeji commented on #94
@elainebyrne I can't replicate this. Are you sure you exported your custom component?

[2020-08-01 20:56] femioladeji commented on #94
@elainebyrne can you let me know the version you're using and can you try and create a small sample project on [codesandbox.io](codesandbox.io). I've tried replicating the bug but I couldn't

[2020-08-02 06:05] aningbo commented on #94
Okay. I'll see what can be done. I wonder if it's due to some conflict with another package. I'm using the following versions:

"react": "16.8.6",
"react-slideshow-image": "^3.0.2",

[2020-08-04 13:06] femioladeji commented on #94
@aningbo have you been able to resolve this issue now?

[2020-08-04 13:59] aningbo commented on #94
No. I ended up using "react-slick": "^0.27.1" instead. Thanks.

[2020-08-04 14:04] #94 closed

[2020-08-26 02:45] julia-bujalski opened #98 "Question: Ease In Option?"
Hi! I'm a UI/UX Designer using this slideshow for a personal project - I'm really enjoying it and am looking for a place to add in an "ease in" appearance to the slide (similar to the `transition-timing-function` tag in CSS). Do you know if that's possible with the current set up?

Thanks!

[2020-08-26 07:58] femioladeji commented on #98
@julia-bujalski currently it's not possible but I'll look into this. Thanks for bringing it up

[2020-08-26 13:07] femioladeji commented on #98
@julia-bujalski I've released a new version `3.2.0` that has support for this. All you need to do is add a new prop `easing` and set it to one of `linear, ease, ease-in, ease-out, cubic, cubic-in, cubic-out`. ✌️

[2020-08-26 13:07] #98 closed

[2020-08-27 13:16] julia-bujalski commented on #98
@femioladeji Thank you so much!! This is awesome 🚀

[2020-09-27 01:04] KingSutter opened #103 "I seem to be getting an error even after following the instructions..."
TypeError: Cannot read property 'children' of null

[code]

[2020-09-27 01:23] KingSutter commented on #103
Changing the line to
 `if (this.tweenGroup.getAll() != null) var existingTweens = this.tweenGroup.getAll();`
Seemed to fix the problem. But I'm not sure if this will cause other problems

[2020-09-27 12:18] femioladeji commented on #103
I'll take a look at this and get back to you

[2020-09-27 12:25] femioladeji commented on #103
What version are you using @KingSutter I'm trying to replicate the bug here but I can't. Can you replicate the bug on [https://codesandbox.io/](https://codesandbox.io/)

P.S you can check a codebox sample [here](https://codesandbox.io/s/admiring-wave-17e0j) to confirm that your code is perfect

[2020-09-28 16:12] femioladeji commented on #103
@KingSutter are you still having issues with this?

[2020-10-11 10:33] lioaslan opened #104 "Could not find a declaration file for module 'react-slideshow-image'"
I have just installed this package, imported and saw this error

![image](https://user-images.githubusercontent.com/24852182/95676333-962fd480-0be7-11eb-9570-dd14b145af77.png)

There're some issues about this but I met this error when I was using javascript, not typescript

[2020-10-11 15:51] femioladeji commented on #104
Hi @lioaslan are you sure you're not using typescript. If you're using `typescript` follow [this instruction](https://react-slideshow.herokuapp.com/typescript). If you're still having issues can you please try and replicate the bug on [codesandbox.io/](codesandbox.io/)

[2020-10-11 15:51] #103 closed

[2020-10-21 11:04] #104 closed

[2020-11-02 19:21] jonshipman opened #105 "Initial Slide progresses twice on rerender (...sometimes?)"
See https://codesandbox.io/s/pedantic-shannon-x7oku?file=/src/App.js

It doesn't happen all the time (might be a timing discrepancy as a nature of setTimeout itself) but when the slide encounters an additional render (even when the image array is consistent) the slideshow can "skip" the 5000ms duration and progress to the second slide. I've also observed this behavior clicking the right arrow righ

[2020-11-02 19:36] femioladeji commented on #105
Thanks @jonshipman I'll look into this and get back to you

[2020-11-05 17:39] femioladeji commented on #105
@jonshipman thanks for noticing this issue. The major culprit was [this statement](https://github.com/femioladeji/react-slideshow/blob/5bd3a47b4976889ec68ede787a104eec330b3aff/src/slide.js#L65) and [also this](https://github.com/femioladeji/react-slideshow/blob/5bd3a47b4976889ec68ede787a104eec330b3aff/src/slide.js#L70). They are called on mouse down while inside the slide (clicking on the arrow is

[2020-11-05 17:43] femioladeji commented on #105
I've released a new version `v3.3.1`

[2020-11-05 17:43] #105 closed

[2020-11-17 23:53] Maarondesigns opened #109 "Uncaught TypeError: Super expression must either be null or a function"
I saw there is another issue that has been closed but was not actually resolved.

Everything works fine in development however after running `npm run build` this error occurs when simply including the line `import { Fade } from "react-slideshow-image";` in my code, regardless if I ever actually create a `<Fade />` component or not.

Versions are:

    "react": "^16.14.0",
    "react-slideshow-imag

[2020-11-18 09:24] femioladeji commented on #109
Hi @Maarondesigns I'm trying to replicate this error but I couldn't. Can you please try and create something on [https://codesandbox.io/](https://codesandbox.io/).

[2020-11-18 16:54] Maarondesigns commented on #109
I don't know how to simulate running production build on that site, if it is possible at all...

[2020-11-19 21:38] femioladeji commented on #109
@Maarondesigns can you please create a small GitHub repo so that I can clone it and test it on my machine. I would really love to get to the root of this. Also,  are you using this in SSR or as a single page application

[2020-11-20 21:44] Maarondesigns commented on #109
It if for an internal production app at the company where I work, all front-end single page app. It is being served using IIS. When I get some time I will see if I can reproduce with a basic react app because I can’t copy/publish the code as it’s proprietary. In the end I am just doing my own custom image fader because I had to get it done this week for my work.

Thanks,
Mike

Sent from my iPhone

[2020-11-25 13:16] sreeshdev opened #114 "goTo method shows last image of the array when mounting"
In my react application, I used the gallery. when I click on the images, that took me to that slideshow with that index images. Its working fine but when mounting it shows the last image of that array and then it shows the correct indexed image.

[2020-11-25 16:36] femioladeji commented on #114
@sreeshdev can you please replicate this on [codepen](codepen.io)

[2020-11-29 21:49] femioladeji commented on #114
@sreeshdev which effect (Fade, Zoom, or Slide) gave you this bug?

[2020-11-30 09:38] sreeshdev commented on #114
slide

[2020-11-30 10:03] femioladeji commented on #114
@sreeshdev I've tried replicating the bug [here](https://codesandbox.io/s/naughty-austin-kvwvn?file=/src/goto.js) but I couldn't. Can you please take a look at [https://codesandbox.io/s/naughty-austin-kvwvn?file=/src/goto.js](https://codesandbox.io/s/naughty-austin-kvwvn?file=/src/goto.js) and see if you can replicate it.

Thanks

[2020-11-30 17:07] jonshipman opened #115 "Slide skips slides"
As in the slide will immediate progress from index 1 to index 2 without delay. It happens when the length of slides changes with another render happening before the slides load. See example below:

Reproduced: https://codesandbox.io/s/wonderful-haze-es5xn

The setTimeout of 1000 in the second useEffect causes a render before the first useEffect finishes. Looks like an issue with the timeout not re

[2020-11-30 22:58] femioladeji commented on #115
Good catch @jonshipman

I've seen the bug. I'll release a fix for it.

Thanks for reproducing it

[2020-11-30 23:11] femioladeji commented on #115
I've released a new version that fixes this bug `v3.4.2`

[2020-11-30 23:11] #115 closed

[2020-12-13 13:46] SalahAdDin opened #118 "Wrapping indicators inside of a ul tag."
My client is using this package to create a wonderful slider; unfortunately, this has a problem with accessibility:
![image](https://user-images.githubusercontent.com/5034215/102013644-8e64eb80-3d62-11eb-8401-a2b248ea7f7d.png)

And it comes from:
![Screen Capture_select-area_20201213164320](https://user-images.githubusercontent.com/5034215/102013671-ba806c80-3d62-11eb-8f32-68e560f2a95c.jpg)

It is

[2020-12-13 17:14] femioladeji commented on #118
Oh ok @SalahAdDin thanks for pointing this out. I'll look into fixing this

[2020-12-14 00:08] femioladeji commented on #118
@SalahAdDin a new version has been released that fixes this bug v3.4.3

[2020-12-14 00:08] #118 closed

[2020-12-18 10:56] GeneralWinter101 opened #120 "the package does not recognize images from other sources"
I've been working on this for two days now, I tried every way known to me to link my own images to the carousel, including finally uploading images to an external google drive and adding their links to the source table.  Attached you will see a screen shot of where I'm currently at and the result.

![image](https://user-images.githubusercontent.com/66372949/102606857-b4eea200-4127-11eb-9a26-3f2764

[2020-12-18 19:20] femioladeji commented on #120
@GeneralWinter101 did you import the `css`. You can follow this [sample](https://codesandbox.io/s/serene-lalande-yjmol).

As regards the dependency, they are mostly dev dependencies, they won't be installed in production. If you're still having issues setting it up can you please create a small example on [https://codesandbox.io/](https://codesandbox.io/s/serene-lalande-yjmol) so that I can have a

[2021-01-05 12:41] bryantobing12 commented on #6
I'm using create react app and do not have webpack.config.js . how to solved this?

[2021-01-05 21:45] femioladeji commented on #6
@bryantobing12 you shouldn't be having any error if you're using create-react-app. Can you check [this implementation] (https://codesandbox.io/s/admiring-wave-17e0j)

[2021-01-06 00:57] ebrimaconta commented on #109
I have the same issue

[2021-01-06 09:11] femioladeji commented on #109
@ebrimaconta did you use create-react-app to set up the react app or custom webpack configuration? Can you please create a small github repo that replicates this issue. I've been trying to replicate it but I've been unable to.

[2021-01-11 16:18] AliZgheib commented on #115
Hello @femioladeji, I'm facing the same issue but I'm not sure what's the cause in my case.
I've tried having autoplay set to false. but still for some reason, the slide switches from slide index 0 -> slide index 1 on its own. I have made sure that all keys are unique

In my case, I'm building a movie, series platform where I show different categories and I'm using your slider to display a list of

[2021-01-11 16:45] femioladeji commented on #115
@AliZgheib do you update the images array after the component has been mounted? And if possible can you recreate this bug on `codesandbox.io`

[2021-01-11 19:47] AliZgheib commented on #115
Hello again @femioladeji, and thank you for the fast reply. I'll take a deeper look at when the image array gets updated and see if it's causing the issue. if not, ill try to re-create the bug.

I will keep you updated.

[2021-01-12 01:28] AliZgheib commented on #115
Hello,

You were right about the component being mounted and changes to the data array causing this issue.
I added a check before the render method and returned null in case the array was empty (waiting API call)
and now the sliders working as expected. I tested it multiple times to make sure it's working correctly and it was all good.

Thank you alot for your time and the fast feedback too :)

[2021-01-25 10:59] ngaboindev commented on #109
I've got the same error in production mode

[2021-01-25 11:01] femioladeji commented on #109
@ngaboindev can you create a simple GitHub repo to replicate this issue. I've been trying to replicate it for a while now but I couldn't. Did you use create-react-app and are you using hooks?

[2021-01-31 06:35] ISHARA1993 opened #121 "slide paused when scroll or go any other pages"
the slide will be continuous when some small change on the page(ex when scroll page).

[2021-01-31 10:20] femioladeji commented on #121
Hi @ISHARA1993 can you please re-create this bug on [https://codesandbox.io/](https://codesandbox.io/)

[2021-02-04 21:14] AlexanderProd opened #122 "Glitching of the slider when used inside a css grid"
When I'm using the slider inside a css grid it glitches out of the screen and gets extremely big.
I've noticed this when comparing my site on mobile vs on the desktop. On big screens the slider sits inside a grid while on small screens it does not.

This is how it looks like when I load the page with the slider on a large screen (`disply: grid` applies).
https://user-images.githubusercontent.com/3

[2021-02-04 21:58] femioladeji commented on #122
@AlexanderProd thanks for this. I'll look into it and get back to you

[2021-02-05 23:50] femioladeji commented on #122
Hi @AlexanderProd can you try using this for the `grid-template-columns`
[code]
Check [this article] for more details.

Let me know if it works or not

[2021-02-06 07:22] AlexanderProd commented on #122
@femioladeji Thank you very much! That fixed it.

[2021-02-06 07:22] #122 closed

[2021-03-24 19:15] jaylaw81 opened #124 "Show partial of previous / next image"
Enhancement request to add ability to see the next or previous image in the slide show and able to determine how much is shown.

[2021-03-25 14:48] femioladeji commented on #124
Thanks for the suggestion @jaylaw81 . I'll look into this and see what can be done

[2021-03-31 13:05] slatifi opened #126 "Uncaught TypeError: n.map is not a function"
When trying to use this package, I got the following error in the Chrome console: Uncaught TypeError: n.map is not a function.

Below is a screenshot of the code I was using:

![image](https://user-images.githubusercontent.com/43909123/113148591-e9472380-9229-11eb-94b7-c2db84dedbb9.png)

I have the following dependencies related to this project:

"react-slideshow-image": "^3.4.3"
"react": "^17.0.2

[2021-03-31 13:12] slatifi commented on #126
Ignore the underlined Slide import - this is just an editor feature.

[2021-03-31 14:56] femioladeji commented on #126
@slatifi you're seeing the error because you only have one direct child. A quick fix will be something like this
[code]

I'll release a new version soon that will effectively solve this

[2021-03-31 17:38] femioladeji commented on #126
@slatifi I've released a new version `v3.4.5` you can re-install the package

[2021-03-31 17:38] #126 closed

[2021-04-03 20:32] AREEG94FAHAD opened #129 "Slide effect not pass react test"
I am try to pass react test but this appear to me when i use slide effect

    TypeError: Cannot read property 'querySelectorAll' of null

      10 | it('renders correctly', () => {
      11 |   const tree = renderer

         |      ^
      13 |       <Provider store={store}>
      14 |         <Router>
      15 |           <Home store={store} />

[2021-04-04 10:44] femioladeji commented on #129
@AREEG94FAHAD are you saying your test is failing because of the package? Can you try and log the test-mounted HTML? Also what testing framework are you using

[2021-04-04 10:51] AREEG94FAHAD commented on #129
I am using this test
https://www.npmjs.com/package/react-test-renderer
when I remove Slid component it work fine.
I don't understand this
"Can you try and log the test-mounted HTML"

[2021-04-04 19:16] femioladeji commented on #129
@AREEG94FAHAD I've been able to replicate the bug. I'll push a fix soon. Thanks for reporting this

[2021-04-04 21:19] femioladeji commented on #129
After a bit of digging, I discovered this is an issue with react-test-renderer not working well with refs as noted in this issue https://github.com/facebook/react/issues/7740

I'll try and look for a way to fix the bug

[2021-04-05 08:43] AREEG94FAHAD commented on #129
Awesome I really I appreciate your effort

[2021-04-05 09:58] femioladeji commented on #129
@AREEG94FAHAD I've released a new version that fixes the issue. Can you install `v3.4.6`

[2021-04-05 09:58] #129 closed

[2021-06-01 10:09] lucasvazq commented on #124
You can achieve this using the following styles
[code]

Just call your Slideshow component with `custom-slideshow` class

I have 4 slides with different background color

![2021-06-01_07-07-38](https://user-images.githubusercontent.com/38964964/120306289-16569780-c2a8-11eb-8b20-2078630532aa.png)

[2021-06-01 12:48] AhmedSarhan opened #131 "why there's no rtl support?"
when I change the direction of my app to rtl with language change, the slider disappears and I have to give it ltr direction by default

[2021-06-01 12:52] femioladeji commented on #131
@AhmedSarhan sorry about that. I'll look into this and get back to you

[2021-06-01 12:52] AhmedSarhan commented on #131
thank you

[2021-06-07 14:34] 3b7ameed commented on #131
I came here for the same Issue :(

[2021-06-15 22:41] lacheporter opened #132 "mapping and array of items as components doesn't allow ability to add another component as child of slide component."
[https://codesandbox.io/s/exciting-waterfall-gqekv?file=/slideshow.js](url)

[2021-06-16 08:50] femioladeji commented on #132
@lacheporter thanks for reporting this issue. I've fixed it with this PR #133 and I've released a new version v3.4.7

[2021-06-16 08:50] #132 closed

[2021-06-22 21:42] Pugsly99 opened #137 "Zindex of the react slide show?"
I have a custom border that I want the slides to sit behind and I have tried many different solutions and I can only ever get it to sit on top of the border. I can see this because the border has rounded edges and the slideshow its self is just a rectangle.

Any solutions?

Thank you

[2021-06-23 10:04] femioladeji commented on #137
Hi, @Pugsly99 I'm guessing you're trying to achieve something like this [https://codesandbox.io/s/affectionate-resonance-jylqk](https://codesandbox.io/s/affectionate-resonance-jylqk).

You can add this to your css file.
[code]

I'll work on adding a new `cssClass` prop that you can pass to the slide

[2021-06-24 22:26] Pugsly99 commented on #137
I would live to have a Prop for this, I used your solution and adapted it to my issue and got it to work!

[2021-06-24 22:26] #137 closed

[2021-06-24 22:30] femioladeji commented on #137
@Pugsly99 yeah the next release will have a new prop for this usecase

[2021-07-09 13:40] indieza opened #141 "TypeScript importation"
Hello, when I try to deploy my web part into SharePoint Website I receive the following error:

Failed to load component "GUID" (WebPartName). Original error: loadComponent() returned an empty object for component "GUID" (WebPartName).
INNERERROR:
loadComponent() returned an empty object for component "GUID"

I take look over the documentation for TypeScript and I found there is some additional se

[2021-07-09 16:28] femioladeji commented on #141
@indieza does your app run locally?

The bug you reported doesn't seem to be connected with the react slideshow.

For the instruction
- Create a file named `index.d.ts` in this directory `types/react-slideshow-image`
- Open your `tsconfig.json` file and add this to the `compilerOptions` object
[code]
- Then paste the content in the instruction into the file

[2021-07-09 16:31] indieza commented on #141
The application successfully runned locally in debug mode, but when I upload the application into SharePoint a receive the error. Where I should find/create the "types" folder?

[2021-07-09 16:37] femioladeji commented on #141
In your project root, where you have your package.json

[2021-07-09 16:41] indieza commented on #141
![image](https://user-images.githubusercontent.com/11813571/125110726-a086ec80-e0ed-11eb-8b27-f0797e1f7e10.png)
I receive that error. Any ideas

[2021-07-09 16:43] femioladeji commented on #141
Have you added this to the tsconfig in the compilerOptions
[code]

[2021-07-09 16:44] indieza commented on #141
![Uploading image.png…]()
Yes, is it correct?

[2021-07-09 16:45] indieza commented on #141
![image](https://user-images.githubusercontent.com/11813571/125111157-3e7ab700-e0ee-11eb-8868-48344d5e82a7.png)

[2021-07-09 16:46] femioladeji commented on #141
yeah that's correct, the `cannot find name 'function'` error should be gone now

[2021-07-09 16:49] indieza commented on #141
it is not :( also still get the same error
![image](https://user-images.githubusercontent.com/11813571/125111629-ce206580-e0ee-11eb-8900-8e7c67738aab.png)

[2021-07-09 17:02] femioladeji commented on #141
I don't think the `SPLoaderError.loadComponentError` is connected to the `react-slideshow` package. You can check this out for more [https://www.koskila.net/failed-to-load-component-original-error-failed-to-load-path-dependency-contosospfxwebpartlocalization-from-component-guid-contosospfxwebpart/](https://www.koskila.net/failed-to-load-component-original-error-failed-to-load-path-dependency-conto

[2021-07-09 17:09] indieza commented on #141
yes, but when I uninstall the slider, everything is fine.

[2021-07-09 17:20] femioladeji commented on #141
oooh, I'm sorry it's hard to fix this because I don't know the root cause and I can't replicate it locally.

If you see anything connected to the package in the stack trace can you please paste it here?

[2021-07-09 17:25] indieza commented on #141
for sure there is nothing related to the slider in the stack trace. Will my some additional checks over the code and will come back if I found something.

[2021-07-28 01:16] kelvinsekx opened #143 "After components mounts, it unmounts rather immediately"
The slideshow seems not be working for me...after the first mounts, it immediately unmounts

[2021-07-28 08:20] femioladeji commented on #143
@kelvinsekx are you getting any error on the console? Can you create a small re-creation of the bug on [codesandbox.io](codesandbox.io)

[2021-09-24 06:43] sourabkapoor opened #144 "Non infinite slide effect is not working correctly"
I was trying to use a combination of infinite and canSwipe props and I noticed that when i used ` infinite={false}` and `canSwipe={true}` I am getting an abnormal effect like:
![image](https://user-images.githubusercontent.com/36324561/134629670-9bdc6396-e659-450f-b296-6dc8c6535092.png)

It is showing partial last image which is not supposed to happen with infinite = false.

Is there any way i can

[2021-09-24 08:05] femioladeji commented on #144
@sourabkapoor I'll look into this and get back to you

[2021-09-24 17:56] femioladeji commented on #144
There's a new release v3.5.1 with a fix for this issue

[2021-09-24 17:56] #144 closed

[2021-10-24 08:15] kieranstartup opened #146 "Can't swipe when using Fade effect desktop/mobile"
Hey,

I'm running into an issue where the user can't swipe through the slides when using the `Fade` effect. My guess is because when you swipe through `Slide` slides, the next slide transitions in from the left or right, but with the `Fade` effect slides are just stacked on top of each other.

I was wondering if there's a workaround or something to get it working?

Thanks!

[2021-10-24 14:54] #146 closed, assigned to nobody

[2021-12-21 14:59] masamichhhhi opened #148 "First and last slides are rendered extra"
I want to define each slide as a separate component.
I have defined the Image component as follows, but when I check it using the react development tools, it looks like two extra components are being rendered.
[code]
<img width="1800" alt="Screen Shot 2021-12-21 at 23 56 01" src="https://user-images.githubusercontent.com/43578455/146950532-12abe837-f948-452a-9a89-22268144f7ac.png">

It looks like

[2021-12-22 12:18] femioladeji commented on #148
@masamichhhhi yeah they are intentional. They are added to ensure a smooth experience when you're sliding from one slide to another. For example, if you are on the last slide and you continue to swipe, the expectation is that the first slide shows. That's why those two slides are added. You can check this link out [https://codesandbox.io/s/ancient-microservice-l3red?file=/src/slideshow.js]https://

[2021-12-23 16:09] MohamedWSalah opened #149 "Not responsive"
So, I noticed that slidesToShow isnt responsive, which means if I set it to 2, it will always show 2 slides even on mobile view.

Could overcome that by grabbing the screen width on rendering, and change the value of slidesToShow conditionally,  but would be nice if there is a way to make it fill depending on the elements width.

[2021-12-23 16:11] femioladeji commented on #149
@MohamedWSalah thanks for raising this issue. I'll look into it and get back to you

[2022-01-07 14:07] marsidorowicz commented on #93
but u can use if (typeof window !== 'undefined') {} to work it around

[2022-01-07 14:33] femioladeji commented on #93
@marsidorowicz I'll look into this and get back to you

[2022-01-07 15:25] masamichhhhi commented on #148
I see. but,  I think this way should be applied only when `infinite=true`. Could it be disabled when `infinite=false`?

[2022-01-08 12:36] femioladeji commented on #148
@masamichhhhi yeah but also the `infinite` prop can be changed.
Just curious; are you having some issues because of the addition of those extra slides

[2022-01-08 16:34] femioladeji commented on #93
@marsidorowicz I just looked into the code and discovered that I've actually refactored it to not use `window`. Are you experiencing this error again?

[2022-01-09 16:29] masamichhhhi commented on #148
@femioladeji
yes, I'm using `<video>` tag in Slide component and want to play and pause videos from an external button.
so, I've tried to get video element by `document.getElementsByClassName` and play video like following.
[code]
but I got two same element and video doen't play.

In this use case, shouldn't I use this library?

[2022-01-09 18:57] femioladeji commented on #148
@masamichhhhi gotcha. I've raised a PR to fix this. I'll let you know once the new version goes live

[2022-01-10 13:29] masamichhhhi commented on #148
Thank you for dealing with it so quickly!

[2022-01-12 16:57] femioladeji commented on #148
@masamichhhhi sorry for the delay, a new version has been released v3.6.1. That should work for you

[2022-01-30 20:12] femioladeji commented on #149
A new version `3.7.0` has been released that has support for `responsive` settings. You can check the documentation [here](https://react-slideshow-image.netlify.app/responsive)

[2022-01-30 20:12] #149 closed

[2022-03-17 19:11] OliviaAdler opened #158 "Transition is laggy"
hey I've been using you package, I have a problem in transition, my transition duration is 300ms and when going to next or prev slide , it is smooth in windows but laggy in macOS also in both Chrome and Firefox.

versions
npm 8.1.2
node v16.13.2,
Windows 10-11,
react-slideshow-image:  3.7.0

[2022-03-20 08:19] femioladeji commented on #158
I'll look into this and get back to you

[2022-04-02 23:40] hmfarooq opened #161 "slideshow not working with nextjs"

[2022-04-03 10:22] femioladeji commented on #161
Thanks for raising this issue. I'll look into this and get back to you

[2022-04-03 16:59] cyntler commented on #158
@OliviaAdler check again in the new release.

[2022-04-03 20:34] femioladeji commented on #161
@hmfarooq can you please confirm if it works when you run `next build` and then `next start`?

[2022-04-03 20:36] hmfarooq commented on #161
Sure brother I will confirm at morning. Thanks for your time and consideration. ---- On Mon, 04 Apr 2022 01:34:28 +0500  ***@***.***  wrote ----
@hmfarooq can you please confirm if it works when you run next build and then next start?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-04-04 14:14] vinidisanti commented on #148
Hey there!
It's not working again. It only works if slidesToShow and slidesToScroll are the same.

[2022-04-04 14:17] vinidisanti opened #163 "First and last slides are rendered extra again"
Hello!
The first and last slides are rendered extra, even if I say infinite is false.
I noticed that this issue was corrected on version 3.6.1.  But It's not working again.

[2022-04-05 20:21] gwendal-a opened #164 "Install problem with react@18.0.0"
Impossible to install react-slideshow with module react@18.0.0

[2022-04-05 20:24] femioladeji commented on #164
@gwendal-a I'll check this out and get back to you soon

[2022-04-06 19:18] lureevnat opened #165 "Jumping Effect when there is a server side rendering"
Hii @femioladeji ,

When I am doing server sider rendering (by using nextjs), All six images are showing on the webpage first, and then becoming a carousel later which is creating jumping effect. but when I am stopping server side rendering Its working fine. But I need server side rendering.

Any Help???

[2022-04-07 09:23] femioladeji commented on #165
Hi, yes I've noticed some issues with server side rendering and I'm already working on a fix. Hopefully by weekend a new version should be released that will fix the issues

[2022-04-10 11:38] femioladeji commented on #164
@gwendal-a a new version v3.7.2 has been released to fix this issue

[2022-04-10 11:38] #164 closed

[2022-04-10 11:39] #109 closed

[2022-04-10 11:39] #114 closed

[2022-04-10 11:39] #120 closed

[2022-04-10 11:39] #121 closed

[2022-04-10 11:40] #124 closed

[2022-04-10 11:40] #131 closed

[2022-04-10 11:40] #143 closed

[2022-04-10 13:22] femioladeji commented on #163
@vinidisanti I just took a look at the code and the extra slides are not rendered if `infinite` prop is `false` and the number of `slidesToShow` is equal to `slidesToScroll`. https://github.com/femioladeji/react-slideshow/blob/master/src/slide.js#L290

What version are you using and what's the value you're using for your props

[2022-04-10 13:22] #158 closed

[2022-04-11 09:30] femioladeji commented on #161
@hmfarooq after doing a bit more debugging I think I've figured out the issue. The react 18 strict mode is a lot more stricter. You can check this out for more details [https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html](https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html)

I'm working on making the package more resilient so that it will work in react 18 strict mode

[2022-04-11 09:31] femioladeji commented on #165
@lureevnat what version of react are you using please?

[2022-04-11 09:40] hmfarooq commented on #161
Thanks brother. ---- On Mon, 11 Apr 2022 14:31:08 +0500  ***@***.***  wrote ----
@hmfarooq after doing a bit more debugging I think I've figured out the issue. The react 18 strict mode is a lot more stricter. You can check this out for more details https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html
I'm working on making the package more resilient so that it will work in react 18 stric

[2022-04-11 13:56] femioladeji commented on #161
@hmfarooq this is fixed now in the latest release v3.7.3 #168

[2022-04-12 07:15] lureevnat commented on #165
I am using      "react-slideshow-image": "^3.4.6".  I am also added my remaining dependencies if in case of need @femioladeji

  "dependencies": {
    "@badrap/bar-of-progress": "^0.1.2",
    "@tailwindcss/typography": "^0.4.0",
    "axios": "^0.21.1",
    "html-react-parser": "^1.2.6",
    "moment": "^2.29.1",
    "next": "^10.2.3",
    "react": "17.0.1",
    "react-device-detect": "^1.17.0",

[2022-04-13 14:49] nahuelDev23 opened #169 "'Slide' cannot be used as a JSX component."
In NEXT.js  when i try make build i get the following error:

[code]
I already followed the repository instructions for typescript, which is down. That's where I got this from.

[code]
in types/react-slideshow-image/index.d.ts but not work... thx

[2022-04-13 14:51] femioladeji commented on #169
@nahuelDev23 thanks for raising this issue. I'll look into this and get back to you. I'll look into it and hopefully get back to you by tomorrow

[2022-04-15 03:42] lureevnat commented on #165
Sure @femioladeji, I will try 3.7.2 and if still there is an issue I will create a small bug and update you.

[2022-04-15 04:02] lureevnat commented on #165
I checked it just now and I am still seeing the issue. Sorry, Forgot to tell you. The issue was coming production mode, I am not able to see that flick/jump while in dev mode. You can check that in production clearly by disabling javascript for that webpage and run. Mean while I will create a bug in codesandbox.com

[2022-04-28 12:49] cedricdelpoux commented on #165
Hi @femioladeji, I'm also annoyed with the same issue.

Without Javascript:
<img width="916" alt="Capture d’écran 2022-04-28 à 14 47 34" src="https://user-images.githubusercontent.com/2683300/165755353-5a5abab6-36a2-4eab-8384-14e844f45f86.png">

With javascript enabled.
<img width="564" alt="Capture d’écran 2022-04-28 à 14 48 05" src="https://user-images.githubusercontent.com/2683300/165755489

[2022-05-03 13:47] maurciobuffa commented on #169
Hi!
I'm facing the same problem. Were you able to find any solution?

Thanks

[2022-05-03 17:50] femioladeji commented on #169
Hi all, sorry for the delay in fixing this. I had to switch laptops recently and I'm still in the setup phase. I'll look into it this weekend

[2022-05-03 17:53] maurciobuffa commented on #169
I was able to fix this problem through this solution:

https://stackoverflow.com/questions/71791347/npm-package-cannot-be-used-as-a-jsx-component-type-errors/71828113#71828113

[2022-05-06 16:36] mattponiat opened #172 "Custom indicators className problem"
Hello!
While making custom indicators I had to add `className="each-slideshow-indicator"` for the `active` pseudo-class to work correctly.
In the docs [here](https://react-slideshow-image.netlify.app/custom-indicators) it shows you need to add `className="indicator"`, but that didn't work for me.

I'm using NextJS ver.12.1.5 and react-slideshow-image ver.3.7.3

[2022-05-06 17:58] ignacio-dev opened #173 "Using 'react-icons' cannot change color"
Cannot change color when using an icon from 'react-icons' as custom prevArrow and nextArrow.

Example:

`
const properties = {
        prevArrow: <GrFormPrevious style={{ color: '#fff' }} />,
        nextArrow: <GrFormNext style={{ color: '#fff' }}/>
    };
`

Will still render the icons black.

[2022-05-06 18:07] #173 closed

[2022-05-07 16:43] femioladeji commented on #172
@mattponiat the `active` class is added to the current indicator. If you check [this](https://codesandbox.io/s/serene-lalande-yjmol?file=/src/App.js) out you'll notice that the active class is appended to the indicator that is currently in view.

P.S you can use any class name you want. You can check [this out](https://codesandbox.io/s/dawn-meadow-ki2s68?file=/src/App.js)
![Screenshot 2022-05-07 a

[2022-05-07 16:56] mattponiat commented on #172
@femioladeji Thank you for the reply. I can see that it works, but for some reason using any class name wouldn't work for me. It would only work if I added the default `className="each-slideshow-indicator"`. I can see in my app that `active` class name is being added but the styles don't apply.
It's not really an issue, I just thought it's worth mentioning if there is any bug happening.

[2022-05-07 17:15] femioladeji commented on #172
@mattponiat can you double check your css. Maybe there's a conflict or a style is being overwritten. The only thing the package does is to add the `active` class. The actual styling is left to the consumer of the package

[2022-05-07 17:46] mattponiat commented on #172
I honestly don't know, I checked everything. I also want to mention that I'm using styled-components, so maybe that's conflicting, but I'm making the indicators the same way you showed me in your examples. I think we can close this issue.

[2022-05-07 19:50] #172 closed

[2022-05-08 15:11] femioladeji commented on #169
I've tried replicating this issue but I couldn't. Can I see what your package.json looks like? Also did you check [this out](https://stackoverflow.com/questions/71791347/npm-package-cannot-be-used-as-a-jsx-component-type-errors/71828113#71828113) perhaps the solution there may also resolve the problem

[2022-05-08 15:22] maurciobuffa commented on #169
I had the same problem with another package too and the solution you just shared in that post fixed the problem

Thanks for your time @femioladeji

[2022-05-08 22:13] femioladeji commented on #165
Thanks for raising this issue. It has now been fixed in the new release v3.7.5

[2022-05-08 22:13] #165 closed

[2022-05-08 22:14] femioladeji commented on #165
#175

[2022-05-08 22:14] #169 closed

[2022-05-11 14:55] umakantp commented on #62
Do we have an example of `React.useRef` instead of Legacy API ? Working with typescript would be best, somehow types are not proper which were shared already in another issue. Thanks

[2022-05-18 13:47] umakantp opened #176 "Typescript, and useRef not working properly"
Hi Team,

I'm using the function component in the typescript, I need a reference to `Slide`, but there is no type defined for `ref` hence it ends up throwing an error.

My simple code:
[code]

I get the following error:-

[code]

PS:
1. It works perfectly fine in plain JavaScript since there is no type-checking.
2. I have already followed guide for adding typescript `types` from other ticket.
3. `

[2022-05-19 22:35] femioladeji commented on #176
@umakantp sorry about this. The package currently doesn't have a robus typescript support. There's a plan to improve this soon. I'll get back to you once that's done

[2022-06-09 10:47] Abdexgerji opened #177 "the css is not working properly"
the slideshow image have a very small height and donot show properly

[2022-06-30 13:22] TalDahan22 opened #181 "module not found error in Next.js"
I'm trying to use the Slide for my Next.js project.
It's not working and shows me this error:

![image](https://user-images.githubusercontent.com/106315475/176687825-40c606f9-988d-44a4-93e6-5109ecb0514a.png)

[2022-07-01 08:08] femioladeji commented on #181
Hi @TalDahan22 sorry about this. We are currently working on releasing a new version with full support for typescript. The new version should be released this weekend. I'll inform you once that's done

[2022-07-03 20:33] femioladeji commented on #181
hi @TalDahan22 a new version 4.0.0 has now been released. That will solve this bug. Sorry about that

[2022-07-03 20:33] #181 closed

[2022-07-03 20:34] femioladeji commented on #176
A version 4.0.0 has now been released with full typescript support

[2022-07-03 20:34] #176 closed

[2022-07-15 00:40] Satosh-J opened #185 "for responsive is not working"
[code]

I used this to change number of slides and Scroll count, but it always displays only on slide.
Is this working now?

[2022-07-15 07:15] femioladeji commented on #185
@Satosh-J we'll look into this and get back to you

[2022-07-15 15:23] femioladeji commented on #185
@Satosh-J thanks for raising this issue. There was indeed a bug. It has been fixed in the newly released version 4.0.3

You can check out the documentation for this prop here https://react-slideshow-image.netlify.app/?path=/story/examples-responsive--page

Let me know if it helps with what you were trying to accomplish

[2022-07-15 15:23] #185 closed

[2022-07-22 00:08] eucciferri opened #188 "TouchEvent is not defined"
Hi everyone!

I have this error every time I mouse over the image.

This happens to me in browsers like Safari and Firefox. In Chrome this error does not occur to me.

[code]

Error:

![image](https://user-images.githubusercontent.com/38674416/180334776-43bdbaaf-abf9-41d8-ba78-091598ad0caf.png)

[2022-07-22 07:33] femioladeji commented on #188
@eucciferri we'll look into this and get back to you

[2022-07-22 13:40] femioladeji commented on #188
@eucciferri a new version has been released, v4.0.4 can you please check if it fixes this bug

[2022-07-22 14:35] eucciferri commented on #188
Hi @femioladeji, now it works perfect! Thanks for your support!

[2022-07-25 08:01] hallvors opened #190 "Slideshow broken by Next.js / SWC.rs build process and minification"
I came across an odd problem where the slideshow works fine when running Next JS in local development mode, but fails when the site is deployed. I don't think this is a bug in react-slideshow, really, more FYI and reference issue for reporting stuff to SWC project.

The error is

    85-ed0064ee95e43d4b.js:formatted:10278 Uncaught ReferenceError: animate is not defined
        at v (85-ed0064ee95e

[2022-07-25 08:06] femioladeji commented on #190
@hallvors thanks for reporting this. I'll look into it and get back to you

[2022-07-25 08:13] hallvors commented on #190
@femioladeji Impressive response time and general maintenance of this project. You're amazing 👍  <3

I think it is likely a bug in https://github.com/swc-project/swc but that project has so many open issues and PRs, it is hard to tell if this is reported already :) I tried to copy just some of the code to https://swc.rs/playground and it does not seem broken there - either it is fixed and Next.js

[2022-07-28 20:30] EduardoDevOlmedo opened #191 "(alias) class Slide import Slide 'Slide' cannot be used as a JSX component."
**ERROR**

Its instance type 'Slide' is not a valid JSX element.
    The types returned by 'render()' are incompatible between these types.
      Type 'React.ReactNode' is not assignable to type 'import("C:/Users/pajar/Desktop/UDEMY/NEXTJS/tesloshop/node_modules/@types/react-transition-group/node_modules/@types/react/index").ReactNode'.
        Type '{}' is not assignable to type 'ReactNode'.ts(27

[2022-07-29 07:58] femioladeji commented on #191
@EduardoDevOlmedo thanks for raising this issue. We'll get back to you ASAP

[2022-07-29 21:00] femioladeji commented on #191
@EduardoDevOlmedo can you use the latest version of the package `4.0.3` it has a built in support for typescript. You can remove the type module declaration you currently have

[2022-07-30 02:53] EduardoDevOlmedo commented on #191
This seems to be fixing the bug. I dont really know why it started happening since it used to work properly, and no packages had been updated.

[2022-07-30 02:53] #191 closed

[2022-08-04 14:34] spidgorny commented on #177
![image](https://user-images.githubusercontent.com/1579235/182873486-4d055763-cc30-4e38-996a-639c9468391c.png)

Very narrow (height of the icons). The parent div should have some `height: 100%` or something similar? I'm using bootstrap.css. Does it interfere?

[2022-08-05 08:20] femioladeji commented on #177
@spidgorny thanks for reporting this bug. I'm guessing you're using background image. Can you follow this codesandbox [https://codesandbox.io/s/priceless-banach-sugm14?file=/src/slideshow.jsx](https://codesandbox.io/s/priceless-banach-sugm14?file=/src/slideshow.jsx]

[2022-08-26 23:09] Yuripetusko opened #192 "passing a ref to Fade component throws a warning"
I am passing ref to a `Fade` like so:

[code]

And getting a warning in browser console like so:

`Warning: [object Object]: `ref` is not a prop. Trying to access it will result in `undefined` being returned. If you need to access the same value within the child component, you should pass it as a different **prop.`**

Not really sue where to look yet, but if there are any pointers happy to try to

[2022-08-29 07:41] femioladeji commented on #192
@Yuripetusko we'll look into this and get back to you

[2022-08-29 16:25] Temitayo-spec commented on #45
My slideshow stopped working after i deployed my app to netlify but it works on localhost

[2022-08-29 16:33] femioladeji commented on #45
@Temitayo-spec what version are you using? Also is the website built with next js or it only uses react?

[2022-08-30 00:16] Temitayo-spec commented on #45
it's built with Next.js actually, don't know if there's an issue with this
SWC... I'm getting this animate is not defined error

On Mon, Aug 29, 2022, 5:34 PM Femi Oladeji ***@***.***> wrote:

[2022-09-02 15:00] femioladeji commented on #192
@Yuripetusko thanks for raising this issue. It has been fixed in the latest version `4.0.5`

[2022-09-02 15:00] #192 closed

[2022-09-02 15:11] Yuripetusko commented on #192
Thank you for doing it so promptly

[2022-10-11 22:07] Jhonatangiraldo opened #194 "Allow arrows in the Indicators container"
## Description
The arrows are rendered in both sides of the slider. It would be great to place them in both sides of the indicator, example below

## Example
![Screen Shot 2022-10-11 at 17 07 10](https://user-images.githubusercontent.com/6934447/195207156-bafc60f4-9583-4e12-a7f0-04a1397ba959.png)

[2022-11-26 09:11] bayuagung100 commented on #194
i need this case too.